<% title "LightBox | Home" %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
</head>
<body>


<header class="navbar">
      <div class="container">
          <div class="text-center">
        <nav>
          <ul class="nav navbar-nav">
            <li><a href="#"><b>Find Developers</b></a></li>
 			<li><a href="#"><b>Find Projects</b></a></li>
 			<li><a href="#"><b>Sign up</b></a></li>

          </ul>
           <nav>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="/login"><b>Log in</b></a></li>
          <li><a href="/help"><b>Help</b></a></li>

          </ul>
          </nav>
        </nav>
        </div>
        
      </div>
    </header>
    <div class="jumbotron text-center">
    	<h1>Welcome To </h1>
    	<h3>LightBox</h3>
    	<a href="#" class="btn btn-primary">learn more</a>

    </div>
    <div class="container">
    
     <div class="row">

     	<div class="col-lg-4 drop-shadow">
     		<h2>Java Developer</h2>
     		<a href="#"><%= image_tag('images1.png', alt: 'image', style: 'width: 100%; height: 200px;', class: 'img-thumnail')%></a>
     	</div>

     	<div class="col-lg-4 drop-shadow">
     		<h2>PHP Developer</h2>
     		<a href="#"><%= image_tag('image.png', alt: 'image', style: 'width: 100%; height: 200px;', class: 'img-thumnail')%></a>
     	</div>
     	
      <div class="col-lg-4 drop-shadow">
        <h2>PHP Developer</h2>
        <a href="#"><%= image_tag('image.png', alt: 'image', style: 'width: 100%; height: 200px;', class: 'img-thumnail')%></a>
      </div>

      <div class="col-lg-4 drop-shadow">
        <h2>PHP Developer</h2>
        <a href="#"><%= image_tag('image.png', alt: 'image', style: 'width: 100%; height: 200px;', class: 'img-thumnail')%></a>
      </div>

      <div class="col-lg-4 drop-shadow">
        <h2>PHP Developer</h2>
        <a href="#"><%= image_tag('image.png', alt: 'image', style: 'width: 100%; height: 200px;', class: 'img-thumnail')%></a>
      </div>

      <div class="col-lg-4 drop-shadow">
        <h2>PHP Developer</h2>
        <a href="#"><%= image_tag('image.png', alt: 'image', style: 'width: 100%; height: 200px;', class: 'img-thumnail')%></a>
      </div>

     </div>
    </div>

    <footer class="text-center">
    <ul class="list-inline">
  		<li role="presentation" class="active"><a href="#">About Us</a></li>
  		<li role="presentation" class="qctive"><a href="#">Find Us</a></li>
  		<li><a href="#">Contact Us</a></li>
  		
	</ul>
    </footer>

    </body>
    </html>




